h1{
    
    font-family: 'Times New Roman', Times, serif;
  color:red;
}
.pass{background-color: white;}

.haa{
    background-color: black;
}

h3{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: red;}

h4{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: red;}

h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: red;}

h5{color: blue;}

.che5{background-color: blanchedalmond;}




 
  h6{font-family: 'Times New Roman', Times, serif;color: blue;}